#transform{
    width: 100px;
    height: 100px;
    background: rgb(102, 157, 161);
    transition: width 2s, height 4s;
}
#transform:hover {
    width: 100px; 
    height: 100px;
    margin-left: 30px;
    border-radius: 40%;
    background: rgb(166, 88, 88);
}